<div class="layuimini-container">

    <form class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">名称</label>
            <div class="layui-input-block">
                <input type="text" value="" name="title" lay-verify="required" placeholder="请输入监控名称" autocomplete="off"
                       class="layui-input">
                <tip>为了方便查找 起个名字吧~</tip>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center">
            <h3>抓取设置</h3>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">线程数</label>
                <div class="layui-input-block">
                    <input type="text" value="100" name="task_num" lay-verify="required" placeholder="请输入抓取线程数"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label required">刷新时间（秒）</label>
                <div class="layui-input-block">
                    <input type="text" value="604800" name="refresh_time" lay-verify="required|number"
                           placeholder="请输入刷新域名列表时间"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label required">局域网ip</label>
                <div class="layui-input-block">
                    <input type="text" value="192.168.11.113" name="lan_ip" lay-verify="required" placeholder="请输入局域网ip"
                           autocomplete="off" class="layui-input">
                </div>
            </div>


        </div>


        <div class="layui-form-item" style="text-align: center">
            <h3>聚名来源列表设置</h3>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">域名后缀</label>
            <div class="layui-input-block">
                <input type="text" value="" name="jm_ymhz" required placeholder="请输入域名后缀"
                       autocomplete="off" class="layui-input">
                <tip>多个逗号分割</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">域名长度</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_ymcd_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_ymcd_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>


                <label class="layui-form-label">到期时间</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_dqsj_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_dqsj_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>

                <label class="layui-form-label">出售价格</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_qian_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_qian_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
            </div>

        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">百度收录</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdsl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdsl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>


                <label class="layui-form-label">百度权重</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdqz_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdqz_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>

                <label class="layui-form-label">搜狗收录</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_sgsl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_sgsl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>


            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">搜狗PR</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_pr_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_pr_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>


                <label class="layui-form-label">Bd反链</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdfl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_bdfl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>

                <label class="layui-form-label">网站外链</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_wzwl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_wzwl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>


            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">百度认证</label>
                <div class="layui-input-block">
                    <select name="jm_bdrz">
                        <option value="0">不限</option>
                        <option value="1">已认证</option>
                        <option value="2">未认证</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">微信检测</label>
                <div class="layui-input-block">
                    <select name="jm_wxjc">
                        <option value="0">不限</option>
                        <option value="1">未拦截</option>
                        <option value="2">已拦截</option>
                        <option value="3">确认访问</option>
                        <option value="4">复制访问</option>
                        <option value="99">还未检测</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">qq检测</label>
                <div class="layui-input-block">
                    <select name="jm_qqjc">
                        <option value="0">不限</option>
                        <option value="1">未拦截</option>
                        <option value="2">已拦截</option>
                        <option value="11">绿色认证</option>
                        <option value="99">还未检测</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">被墙检测</label>
                <div class="layui-input-block">
                    <select name="jm_qiangjc">
                        <option value="0">不限</option>
                        <option value="1">正常</option>
                        <option value="2">污染</option>
                        <option value="3">被墙</option>
                        <option value="99">还未检测</option>
                    </select>
                </div>

            </div>


        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">建站历史</label>
                <div class="layui-input-block">
                    <select name="jm_jzls" lay-verify="required">
                        <option value="0">不限</option>
                        <option value="1">存在</option>
                        <option value="99">不存在</option>

                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">建站历史-年龄</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_jznl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_jznl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>

                <label class="layui-form-label">建站历史-记录</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_jzjl_1" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="jm_jzjl_2" autocomplete="off" class="layui-input" value="0"
                           lay-verify="number">
                </div>

            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">建站记录</label>
                <div class="layui-input-block">
                    <select name="jm_sfba_1" lay-verify="required">
                        <option value="0">不限</option>
                        <option value="99">不存在</option>
                        <option value="2&baxz=个人">个人</option>
                        <option value="2&baxz=企业">企业</option>
                        <option value="4&baxz=其他">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结果排序</label>
                <div class="layui-input-block">
                    <select name="jm_jgpx" lay-verify="required">
                        <option value="0">默认</option>
                        <option value="3">域名价格</option>
                        <option value="5">上架时间</option>
                        <option value="41">今日上架</option>
                        <option value="35">浏览热门</option>
                        <option value="7">注册时间</option>
                        <option value="37">到期时间</option>
                        <option value="1">域名长度</option>
                        <option value="19">域名排序</option>
                        <option value="11">百度权重</option>
                        <option value="13">百度收录</option>
                        <option value="27">百度反链</option>
                        <option value="9">搜狗PR</option>
                        <option value="25">搜狗收录</option>
                        <option value="15">搜狗反链</option>
                        <option value="21">网站外链</option>
                        <option value="17">域名估价</option>
                        <option value="23">建站历史记录数</option>
                        <option value="29">建站历史年龄</option>
                        <option value="31">360收录</option>
                        <option value="33">神马收录</option>
                        <option value="39">终端数量</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center">
            <h3>主条件设置</h3>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">主条件</label>
            <div class="layui-input-block">
                <input type="radio" name="main_filter" value="备案" title="备案" checked>
                <input type="radio" name="main_filter" value="百度" title="百度">
                <input type="radio" name="main_filter" value="历史" title="历史">
                <input type="radio" name="main_filter" value="注册商" title="注册商">
                <input type="radio" name="main_filter" value="搜狗" title="搜狗">
                <input type="radio" name="main_filter" value="360" title="360">
                <input type="radio" name="main_filter" value="无" title="无">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">添加</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>


    </form>

</div>