<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"

               data-auth-delete="{:auth('yikoujia.jkt/delete')}"
               data-auth-edit="{:auth('yikoujia.jkt/edit')}"
               data-auth-add="{:auth('yikoujia.jkt/add')}"
               data-auth-add_zhi="{:auth('yikoujia.jkt/add_zhi')}"
               data-auth-stop_task="{:auth('yikoujia.jkt/stop_task')}"
               data-auth-show_buy_ym="{:auth('yikoujia.jkt/show_buy_ym')}"
               data-auth-show_zhi="{:auth('yikoujia.jkt/show_zhi')}"
               data-auth-delete_buy_list="{:auth('yikoujia.jkt/delete_buy_list')}"
               data-auth-logs="{:auth('yikoujia.jkt/logs')}"
               data-auth-check_status="{:auth('yikoujia.jkt/check_status')}"
               data-auth-restart_task="{:auth('yikoujia.jkt/restart_task')}"
               data-auth-delete_buy_list_list="{:auth('yikoujia.jkt/delete_buy_list')}"
               data-auth-copy_model="{:auth('yikoujia.jkt/copy_model')}"



               lay-filter="currentTable">
        </table>
    </div>
</div>