<div class="layuimini-container">
    <button class="layui-btn layui-btn-xs" onclick="refresh()">刷新</button>
    <div class="layuimini-main">


        <div style="height: 600px" >

            {foreach logs as $item}
                {if strstr($item['msg'],'错误')}
                    <font color="red">{$item['create_time']} - {$item['msg']}</font><br>
                {else}
                    {$item['create_time']} - {$item['msg']}<br>
                {/if}

            {/foreach}

        </div>

    </div>
</div>
<script>
    function refresh(){
        window.location.reload()
    }


</script>