<div class="layuimini-container">
    <form class="layui-form">

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">店铺品类分析</label>
            <div class="layui-input-block">
                <textarea name="store_cate_analyse" placeholder="请输入店铺品类分析" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">立即修改</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
