<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('domain_reserve.jvming_yd/add')}"
               data-auth-edit="{:auth('domain_reserve.jvming_yd/edit')}"
               data-auth-delete="{:auth('domain_reserve.jvming_yd/delete')}"
               data-auth-info_url="{:auth('domain_reserve.jvming_yd/info')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
