<div class="layuimini-container">

    <form class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">代理</label>
            <div class="layui-input-block">
                <input type="radio" name="is_daili" value="1" title="是">
                <input type="radio" name="is_daili" value="0" title="否" checked>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label required">账户</label>
            <div class="layui-input-block">
                <input type="text" value="" name="username" lay-verify="required" placeholder="请输入账户" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">密码</label>
            <div class="layui-input-block">
                <input type="text" value="" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off"
                       class="layui-input">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">解除保护密码</label>
            <div class="layui-input-block">
                <input type="text" value="" name="jc_password" placeholder="请输入解除保护密码" autocomplete="off"
                       class="layui-input">
                <tip>如果不是下单账号不用设置</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" value="" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">保存</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>


    </form>

</div>