<div class="layuimini-container">

    <form class="layui-form layuimini-form">

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">黑名单</label>
            <div class="layui-input-block">
                <textarea name="hmd" placeholder="店铺ID 多个请换行" class="layui-textarea">{$row.value}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">保存</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>


    </form>

</div>