<input id="total_stock_price" value="{$total_stock_price}" hidden="hidden">
<input id="total_sale_price" value="{$total_sale_price}" hidden="hidden">
<input id="total_stock_count" value="{$total_stock_count}" hidden="hidden">
<input id="total_sale_count" value="{$total_sale_count}" hidden="hidden">
<input id="type" hidden="hidden" value="{$type}">
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"


               lay-filter="currentTable">
        </table>
    </div>
</div>
