<div class="layuimini-container">
    <form class="layui-form">


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">批量成本价</label>
            <div class="layui-input-block">
                <textarea name="batch_cost_price" placeholder="格式为：域名|金额      多个请换行" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">批量备注</label>
            <div class="layui-input-block">
                <textarea name="batch_remark" placeholder="格式为：域名|备注      多个请换行" class="layui-textarea"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">立即修改</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
