<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-cancel_like_batch="{:auth('domain.attention_ym/cancel_like_batch')}"
               data-auth-cancel_like="{:auth('domain.attention_ym/cancel_like')}"
               data-auth-crawl="{:auth('domain.attention_ym/crawl')}"
               data-auth-edit="{:auth('domain.attention_ym/edit')}"

               lay-filter="currentTable">
        </table>
    </div>
</div>


