<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">筛选时间</label>
                <div class="layui-input-block">
                    <input type="text" name="filter_time" required lay-verify="required" placeholder="请选择时间"
                           autocomplete="off" class="layui-input" id="test1" value="{$time}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>