<input id="user_list"  value="{$user_list}" hidden="hidden">
<input id="sale_count_list"  value="{$sale_count_list}" hidden="hidden">
<input id="profit_price_list"  value="{$profit_price_list}" hidden="hidden">


<div class="layuimini-container" style="min-height: 10px">

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">选择日期</label>
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" autocomplete="off" class="layui-input" id="test1">
            </div>
        </div>

        <div class="layui-inline">
            <button  class="layui-btn layui-btn-sm" id="search">搜索</button>
        </div>

    </div>




    </div>


    <div class="layuimini-main" style="text-align: center;display: table">


        <div id="main" style="width: 800px;height:600px;"></div>

    </div>
</div>
